<footer class="footer">
    <div class="container footer__container">
        <div class="footer__auxiliary-element">
            <div class="footer__bloc footer__bloc--address">
                <a class="logo" href="./index.html">Web<span class="logo--white">Studio</span></a>
                <address class="address">
                    г. Киев, пр-т Леси Украинки, 26
                    <ul class="address__list">
                        <li class="address__item">
                            <a class="address__link" href="mailto:info@devstudio.com">info@devstudio.com</a>
                        </li>
                        <li class="address__item">
                            <a class="address__link" href="tel:+380961111111">+38 096 111 11 11</a>
                        </li>
                    </ul>
                </address>
            </div>

            <div class="footer__bloc footer__bloc--join">
                <p class="footer__title">присоединяйтесь</p>
                <ul class="social-links">
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--reverse" href="#">
                            <svg class="social-links__icon">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--reverse" href="#">
                            <svg class="social-links__icon">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--reverse" href="#">
                            <svg class="social-links__icon">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-links__item">
                        <a class="social-links__link social-links__link--reverse" href="#">
                            <svg class="social-links__icon">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__bloc footer__bloc--subscription">
            <p class="footer__title">Подпишитесь на рассылку</p>
            <form class="footer__form">
                <label for="footer__input">
                </label>
                <input class="footer__input" type="email" name="email" placeholder="E-mail" id="footer__input" />
                <button class="big-button big-button--footer" type="submit">
                    Подписаться
                    <svg class="big-button__icon" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</footer>